.banner {
    /* says top bottom 200px, left right 0px */
    padding: 200px 0;
    background-size: cover;
    background-position: center;
  }

/* says top bottom 200px, left right  */
.banner h1 {
    color: white;

    font-size: 35px;
  }

.banner p {
    color: white;
    font-size: 20px;

  }