<!DOCTYPE html>
<html>
  <head>
     <!-- Responsiveness,one lined below detect width of the device  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Haseeb Chaudhary Profile Page</title>
    <!-- Fontawesome Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <meta charset="utf-8">
    <!-- Google result text-->
    <title>Haseeb Chaudhary Profile Page</title>
    <!-- Google result description-->
    <meta name="description" content="Haseeb Chaudhary profile page describing who is is and what he does.">
    <!-- Facebook metadata-->  
    <meta property="og:title" content="Haseeb chaudhary Profile Page">
    <meta property="og:image" content="<meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
    <meta property="og:description" content="Haseeb Chaudhary profile page describing who is is and what he does.">
    <meta property="og:site_name" content="Le Wagon"/> 
    <!-- Twitter metadata-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@haseebchaudhary">
    <meta name="twitter:title" content="Haseeb Chaudhary profile page describing who is is and what he does">
    <meta name="twitter:description" content="Haseeb Chaudhary is a fullstack developer and application security expert.">
    <meta name="twitter:creator" content="@haseebchaudhary">
    <meta name="twitter:image:src" content="http://twitter-card.jpg">

  </head>
  <body>
    <div class="banner" style="background-image: url('images/coding.jpg');"> 
        <div class="container">
            <h1>Zodium gives web skills to creative people.</h1>
            <p>Change your life and learn to code.</p>
            <a href="#" class="btn-primary">Book now!
            </a>
        </div>

    </div>

    <div class="container">
        <h2 class="text-center__simple">How it works</h2>
        <div class="cards">
            <div class="card">
                <img src="images/apply.svg" alt="">
                <h3>Book now</h3>
                <p>Apply to one of the onsite campuses</p>
            </div>
            <div class="card">
                <img src="images/learn.svg" alt="">
                <h3>Obtain coding skills</h3>
                <p>Learn JavaScript, HTML, Ruby on Rails, SQL plus lots more</p>
            </div>
            <div class="card">
                <img src="images/product.svg" alt="">
                <h3>Build products</h3>
                <p>Let your creative juices flow and build your ideas</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="link"> 
            <!-- Go to Fontawesome and get the icon-->
            <a href="#"><i class="fab fa-twitter"></i>
            </a>
            <a href="#"><i class="fab fa-github"></i>
            </a>
            <a href="#"><i class="fab fa-instagram"></i>
            </a>
            <a href="#"><i class="fab fa-facebook-f"></i>
            </a>
            <p>This website was coded with <i class="fas fa-heart"></i> at Zodium</p>
        </div>

    </div>
  </body>
</html>